In [1]:
import pandas as pd

In [9]:
data = pd.read_csv('C:/Users/gdoku/Desktop/Выгрузка.csv')
data

          name                 time       channel      client  value_f value_s
0    mqtt_data  1593820800013830738  wb-adc/5Vout  wb_SERIAL1     5.02     NaN
1    mqtt_data  1593820800126747239     wb-adc/A1  wb_SERIAL1     0.01     NaN
2    mqtt_data  1593820800240068307     wb-adc/A2  wb_SERIAL1     0.01     NaN
3    mqtt_data  1593820800350473519     wb-adc/A3  wb_SERIAL1     0.01     NaN
4    mqtt_data  1593820800465719505     wb-adc/A4  wb_SERIAL1     0.01     NaN
..         ...                  ...           ...         ...      ...     ...
110  mqtt_data  1593820810582737159  wb-adc/5Vout  wb_SERIAL1     5.03     NaN
111  mqtt_data  1593820810643307793     wb-adc/A1  wb_SERIAL1     0.01     NaN
112  mqtt_data  1593820810758647830     wb-adc/A2  wb_SERIAL1     0.01     NaN
113  mqtt_data  1593820810871825301     wb-adc/A3  wb_SERIAL1     0.01     NaN
114  mqtt_data  1593820810987144962     wb-adc/A4  wb_SERIAL1     0.01     NaN

[115 rows x 6 columns]

In [11]:
find = 'cfx-orangecounter_1/Oranges'
find_test = 'wb-adc/A1'
data.loc[data.channel.str.contains(find_test)]

          name                 time    channel      client  value_f value_s
1    mqtt_data  1593820800126747239  wb-adc/A1  wb_SERIAL1     0.01     NaN
11   mqtt_data  1593820800763910650  wb-adc/A1  wb_SERIAL1     0.01     NaN
18   mqtt_data  1593820801400741735  wb-adc/A1  wb_SERIAL1     0.02     NaN
25   mqtt_data  1593820802095845802  wb-adc/A1  wb_SERIAL1     0.01     NaN
31   mqtt_data  1593820802726199085  wb-adc/A1  wb_SERIAL1     0.01     NaN
37   mqtt_data  1593820803368086967  wb-adc/A1  wb_SERIAL1     0.01     NaN
43   mqtt_data  1593820804047072853  wb-adc/A1  wb_SERIAL1     0.01     NaN
50   mqtt_data  1593820804731797113  wb-adc/A1  wb_SERIAL1     0.00     NaN
57   mqtt_data  1593820805369247979  wb-adc/A1  wb_SERIAL1     0.02     NaN
63   mqtt_data  1593820806053157825  wb-adc/A1  wb_SERIAL1     0.01     NaN
70   mqtt_data  1593820806701073535  wb-adc/A1  wb_SERIAL1     0.01     NaN
76   mqtt_data  1593820807336787159  wb-adc/A1  wb_SERIAL1     0.01     NaN
83   mqtt_data  1593820808024645762  wb-adc/A1  wb_SERIAL1     0.01     NaN
90   mqtt_data  1593820808666066123  wb-adc/A1  wb_SERIAL1     0.02     NaN
96   mqtt_data  1593820809304101241  wb-adc/A1  wb_SERIAL1     0.02     NaN
102  mqtt_data  1593820809993795956  wb-adc/A1  wb_SERIAL1     0.01     NaN
111  mqtt_data  1593820810643307793  wb-adc/A1  wb_SERIAL1     0.01     NaN