In [11]:
import sqlite3
conn = sqlite3.connect('example.db')

In [12]:
cur = conn.cursor()

In [13]:
data = cur.execute('SELECT * FROM stocks').fetchall()
data = data.fetchall()
conn.close()
data

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [20]:
conn = sqlite3.connect('example.db')
cur = conn.cursor()
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
data = cur.execute('SELECT rowid, * FROM stocks').fetchall()
conn.commit()
conn.close()

In [21]:
data

[(1, '2006-01-05', 'BUY', 'RHAT', 100.0, 35.14),
 (2, '2006-01-05', 'BUY', 'RHAT', 100.0, 35.14),
 (3, '2006-01-05', 'BUY', 'RHAT', 100.0, 35.14),
 (4, '2006-01-05', 'BUY', 'RHAT', 100.0, 35.14),
 (5, '2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [22]:
import pandas as pd

In [23]:
pd.DataFrame(data)

   0           1    2     3      4      5
0  1  2006-01-05  BUY  RHAT  100.0  35.14
1  2  2006-01-05  BUY  RHAT  100.0  35.14
2  3  2006-01-05  BUY  RHAT  100.0  35.14
3  4  2006-01-05  BUY  RHAT  100.0  35.14
4  5  2006-01-05  BUY  RHAT  100.0  35.14

In [32]:
# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

OperationalError: database is locked

In [34]:
conn = sqlite3.connect('example.db')
c = conn.cursor()
data = c.execute('SELECT * FROM stocks')
conn.close()

OperationalError: database is locked

In [ ]:
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

In [12]:
data = c.execute('SELECT * FROM stocks')
data.fetchall()

OperationalError: database is locked

In [33]:
c.close()
conn.close()

In [25]:
conn = sqlite3.connect('example.db')

In [26]:
c = conn.cursor()

In [28]:
data = c.execute('SELECT * FROM stocks')

OperationalError: database is locked

In [27]:
conn.commit()