In [1]:
import xml.etree.ElementTree as ET
import xmljson
import pandas as pd
import pyodbc
import os
from pprint import pprint
import xmltodict

pd.set_option('max_colwidth', 160)
pd.set_option('mode.chained_assignment', None)

conn_str = r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"\
    r"DBQ=C:\Users\gdoku\YandexDisk\Документы\Семейные финансы\FF.accdb;"


def vtb_broker_security_deals(path):
    """Считываем данные по движению денежных средств из брокерского отчёта Банка ВТБ в формате xml"""

    directory = r'C:/Users/gdoku/YandexDisk/Документы/Договоры/Банк ВТБ (ПАО)/'
    files = os.listdir(os.path.join(directory, path))
    counter = 0

    # Считываем данные из файлов
    for file in files:
        tree = ET.parse(os.path.join(directory, path, file))
        root = tree.getroot()
        json = xmljson.gdata.data(root[17][0])
        json = json['{report577p_v1}Подробности9_Collection']['{report577p_v1}Подробности9']
        data = pd.DataFrame(json)
        if counter == 0:
            security_deals = data
            counter += 1
        else:
            security_deals = transactions.append(data, ignore_index=True)

    # Обработка данных
    security_deals = security_deals[['NameBeg9', 'curs_datebeg9', 'currency_ISO9',
                                     'NameEnd9', 'currency_paym7', 'deal_cost7',
                                     'bank_сommition7', 'deal_code5', 'deal_code1']]
    security_deals.columns = ['security', 'date', 'deal_type', 'quantity',
                              'amount', 'accumulated_coupon', 'deal_сommission', 'bank_сommission', 'deal_code']
    security_deals.date = pd.to_datetime(
        security_deals.loc[:, 'date'], format='%Y-%m-%d').dt.normalize()
    security_deals.security = security_deals.security.apply(lambda x: x[-12:])
    security_deals.quantity = security_deals.apply(
        lambda x: x.quantity if x.deal_type == 'Покупка' else -x.quantity, axis=1)
    security_deals.amount = security_deals.apply(
        lambda x: x.amount if x.deal_type == 'Покупка' else -x.amount, axis=1)
    security_deals.accumulated_coupon = security_deals.apply(
        lambda x: x.accumulated_coupon if x.deal_type == 'Покупка' else -x.accumulated_coupon, axis=1)
    security_deals['сommission'] = security_deals.deal_сommission + security_deals.bank_сommission
    security_deals = security_deals.iloc[:,[0,1,3,4,5,8,9]]

    return security_deals

path = r'Георгий/Брокерские отчёты XML'
security_deals = vtb_broker_security_deals(path)
security_deals

,security,date,quantity,amount,accumulated_coupon,deal_code,сommission
0,RU0007661625,2020-02-26,80.0,17824.80,0.00,B3103078226,8.51
1,RU0007976965,2020-02-26,5.0,8775.00,0.00,B3103079669,4.18
2,RU0007976965,2020-02-26,6.0,10548.00,0.00,B3103089622,5.04
3,RU0007661625,2020-02-27,80.0,17679.20,0.00,B3103796348,8.45
4,RU0007976965,2020-02-27,5.0,8752.50,0.00,B3103796983,4.17
...,...,...,...,...,...,...,...
345,RU000A101FT1,2020-07-27,30.0,26597.40,782.40,B3245547587,12.33
346,RU000A0JPFP0,2020-07-28,26.0,19266.00,0.00,B3247642677,9.20
347,RU000A0JPFP0,2020-07-29,25.0,18510.00,0.00,B3248053926,8.84
348,RU000A0JPFP0,2020-07-30,10.0,7360.00,0.00,B3249817538,3.51
349,RU000A101FT1,2020-08-11,36.0,33582.24,1146.24,B3260130964,15.50

In [ ]:
def new_security_deals(security_deals):
    """Подготовка таблицы для загрузки."""

    start_date = '2020-05-01'
    conn = pyodbc.connect(conn_str)
    cur = conn.cursor()
    SQL = 'SELECT DISTINCT [003_Факты].transaction_code \
            FROM 003_Факты INNER JOIN \
            004_Проводки ON [003_Факты].ФактНом = [004_Проводки].ФактНом \
            WHERE ((([003_Факты].transaction_code) Is Not Null) AND \
                    ([004_Проводки].СинтСчётНом=581 Or [004_Проводки].СинтСчётНом=582))'
#    base = cur.execute(SQL)#.fetchall()
#    base = pd.read_sql(SQL, conn)
#     df = pd.merge(security_deals, base, how='left',
#                   left_on=['deal_code'],
#                   right_on=['transaction_code'])
#     new_transactions = df[df['Оборот'].isna()].iloc[:, :3]
#     new_transactions = new_transactions[new_transactions['date']
#                                         >= '2020-04-01']
    conn.close()

    return base


# def security_deals_upload_to_base(syn_acc, anal_acc, transactions):
#     """Функция загрузки новых проводок в базу."""

#     df = new_transactions(syn_acc, anal_acc, transactions)

#     # Определение типа операций
#     conn = pyodbc.connect(conn_str)
#     SQL = 'SELECT ID, Description, Name, ds, da, cs, ca \
#         FROM 008_LEARNING \
#         WHERE ds={} AND da={}'.format(syn_acc, anal_acc)
#     base = pd.read_sql(SQL, conn)

#     # Проведение прододок
#     for i, base_row in base.iterrows():
#         lookup = base_row['Description']
#         post = base_row['Name']
#         df1 = df[df['description'].str.contains(lookup, case=False) == True]
#         for index, row in df1.iterrows():
#             with conn.cursor() as crsr:
#                 crsr.execute("INSERT INTO 003_Факты ( Дата, СобНаим ) VALUES(?, ?)",
#                              row['date'], post)
#                 post_id = crsr.execute("SELECT Max(ФактНом) FROM 003_Факты WHERE СобНаим = ?",
#                                        post).fetchall()[0][0]
#                 crsr.execute('INSERT INTO 004_Проводки VALUES({}, {}, {}, {}, {}, 0)'.
#                              format(post_id, 0, syn_acc, anal_acc, row['amount']))
#                 crsr.execute('INSERT INTO 004_Проводки VALUES({}, {}, {}, {}, {}, 0)'.
#                              format(post_id, 1, base_row['cs'], base_row['ca'], -row['amount']))
#     conn.close()


df = new_security_deals(security_deals)
df

In [2]:
SQL = 'SELECT DISTINCT [003_Факты].transaction_code \
            FROM 003_Факты INNER JOIN \
            004_Проводки ON [003_Факты].ФактНом = [004_Проводки].ФактНом \
            WHERE ((([003_Факты].transaction_code) Is Not Null) AND \
                    ([004_Проводки].СинтСчётНом=581 Or [004_Проводки].СинтСчётНом=582))'

In [3]:
SQL

'SELECT DISTINCT [003_Факты].transaction_code             FROM 003_Факты INNER JOIN             004_Проводки ON [003_Факты].ФактНом = [004_Проводки].ФактНом             WHERE ((([003_Факты].transaction_code) Is Not Null) AND                     ([004_Проводки].СинтСчётНом=581 Or [004_Проводки].СинтСчётНом=582))'

In [ ]:
conn = pyodbc.connect(conn_str)